@font-face {
font-family: "Wizarding";
src:url("../../fonts/WizardWorldSimplified-Kxr7.ttf") format("truetype");
}
@font-face {
font-family: "HarryP";
src:url("../../fonts/HARRYP__.TTF") format("truetype");
}
.header {
width: 100%;
display: flex;
place-items: center;
justify-content: center;
margin: auto;
min-height: calc(50vh + 5em);
background:#0C1631;
position: relative;}
.log_in{
position: absolute;
width: 175px;
height: 69px;
right:5px;
top: 5px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background:#D3BA32;
border-radius: 5px;
font-family: Wizarding;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 44px;
display: inline-block;
align-items: center;
text-align: center;
color: #0C1631;

}
.Nav_items
{
list-style-type: none;
display:inline-block;
float: left;
font-family: Wizarding;
font-size: 40px;
line-height: 44px;
color: #D3BA32;
margin-left:40px;
margin-right:40px;
display: flex;
align-items: center;
text-align: center;
}
.nav{
margin:0 auto;
display: 'flex';
justify-content: 'center';
align-items: 'center';
/* top: 50%; */
/* left:20%;
width:1600px; */
background:#0C1631;
position:absolute;
height: 88px;
top: 400px;
}

.naslov1{
font-family: Wizarding;
color: #D3BA32;
position: absolute;
width: 708px;
height: 102.41px;
left: 33%;
top: 15%;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 50px;
text-align: center;

}
.naslov2{
font-family: HarryP;
color: #D3BA32;
position: absolute;
width: 708px;
height: 117.71px;
left:33%;
top: 20%;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 100px;
text-align: center;    
}