@font-face {
    font-family: "HarryP";
    src:url("../fonts/HARRYP__.TTF") format("truetype");
}
    @font-face {
    font-family: "Wizarding";
    src:url("../fonts/WizardWorldSimplified-Kxr7.ttf") format("truetype");
}

.filmscontainer {
    background-color: #0C1631;
    /* margin-bottom: 20px; */
}

.film_image {
    width: 400px;
    height: 300px;
}

.film_title {
    font-family: HarryP;
    color: #D3BA32;
    font-size: 40px;
}

.film_body{
    font-family: Wizarding;
    color: #fff;
    font-size: 15px;
}