@font-face {
    font-family: "HarryP";
    src:url("../../fonts/HARRYP__.TTF") format("truetype");
}
@font-face {
    font-family: "Wizarding";
    src:url("../../fonts/WizardWorldSimplified-Kxr7.ttf") format("truetype");
}


.footer {
    width: 100%;
    left: 0px;
    background:#0C1631;
    display: inline-block;
}

.footerimg {
    max-width: 100%;
}

.footerTitle {
    font-family: HarryP;
    font-size: 40x;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D3BA32;
}

.footertext {
    font-family: Wizarding;
    font-size: 15px;
    line-height: 25px;
    list-style-type: none;
    color: #D3BA32;
}

.footertext li:hover {
    cursor: pointer;
    color: #8b790f;
}

.footercred {
    font-family: Wizarding;
    font-size: 15px;
    line-height: 25px;
    list-style-type: none;
    color: #D3BA32;
}

.mainfooter {
    background-color: #0C1631; 
    padding-top: 2rem;
    position: relative;  
    bottom: 0;
    width:100%;
}

.row {
    width: 100%;
}

.color {
    background-color: #0C1631; 
}

@media (max-width: 720px){
    .footerTitle{
        font-size: 15px;
        white-space: nowrap;
    }
    .footertext{
        font-size: 10px;
        font-height: 15px;
    }
    .footercred{
        font-size:10px;
        line-height: 20px;
    }
}

@media (max-width: 440px){
    .footerTitle{
        font-size: 12px;
        white-space: nowrap;
        line-height: 30px;
    }
    .footertext{
        font-size: 7px;
        line-height: 15px;
    }
    .footercred{
        font-size:7px;
        line-height: 10px;
    }
}