@font-face {
    font-family: "HarryP";
    src:url("../../fonts/HARRYP__.TTF") format("truetype");
}
    @font-face {
    font-family: "Wizarding";
    src:url("../../fonts/WizardWorldSimplified-Kxr7.ttf") format("truetype");
}

.postcontainer {
    background-color: #0C1631;
     padding-bottom: 3rem; 
     padding-left:3rem;
    padding-right:5rem; 
}
.container{
position: relative;
  text-align: center;
}

.blog_image {
    width: 400px;
    height: 250px;
    border-radius: 20px;

}

.post_title{
    /* margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 0px; */
    position: relative;
  /* bottom: 8px;
  left: 16px; */
    font-family: HarryP;
    color: #D3BA32;
    font-size: 60px;
}

.card_title{
    font-family: HarryP;
    color: #D3BA32;
    font-size: 40px;
}

.post_date{
    /* margin-left: 30px; */
    margin-bottom: 20px;
    font-family: Wizarding;
    color: #fff;
    font-size: 15px;
}

.post_body{
    /* margin-left: 30px; */
    font-family: Wizarding;
    color: #fff;
    font-size: 20px;
    padding-top: 2rem;
}

.card_body{
    font-family: Wizarding;
    color: #fff;
    font-size: 20px;
}

.button{
    text-decoration: none;
    font-family: Wizarding;
    font-size: 15px;
    padding: 5px;
    background-color: #D3BA32;
    color:#0C1631;
    border-radius: 5px;
}

.button:hover{
    color:#8b790f;
}

@media (max-width: 830px){
    .card_title{
        font-size: 30px;
    }

    .card_body{
        font-size: 12px;
    }
    .post_title{
        font-size: 40px;
    }
}

@media (max-width: 400px){
    .card_title{
        font-size: 25px;
    }

    .card_body{
        font-size: 12px;
    }
    .post_title{
        font-size: 25px;
    }
    .post_date{
        font-size: 10px;
    }
    .post_body{
        font-size: 15px;
    }
}