@font-face {
font-family: "HarryP";
src:url("../../fonts/HARRYP__.TTF") format("truetype");
}
@font-face {
font-family: "Wizarding";
src:url("../../fonts/WizardWorldSimplified-Kxr7.ttf") format("truetype");
}
.banner {
width: 100%;
height: 635px;
left: 0px;
top: calc(25vh + 5em);
position: absolute;
background-position: center;
z-index: -1;
}
.paigecontainer
{
    display: flex ;
    flex-direction: column;
    min-height:80vh;
    background-color: #0C1631;
    place-items: center start;
}

.contentwrap{
flex:1;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 1547px;
height: 112px;
}

.container {
position: relative;
text-align: center;
font-family: HarryP;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 101px;
/* display: flex; */
color: #D3BA32;
/* display: table;
  margin: 0 auto; */
}

.signup{
position:absolute;
width: 90px;
height: 50px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background:#D3BA32;
border-radius: 5px;
font-family: Wizarding;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 15px;
align-items: center;
text-align: center;
color: #0C1631;
}
.main-footer{
 background-color: #0C1631; 
 padding-top: 3rem;
 position: relative;  
 bottom: 0;
 width:100%;
}
.row{
     display: inline-flex;
  /* align-items items in column */
  flex-direction: column;
  /* center items horizontally */
  align-items: center;
  /* center items vertically */
  justify-content: center;
}
.flagstext{
font-family: Wizard World;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
color: #0C1631;
text-align: center;
}
.flagsnaslov{
text-align: center;
font-family: HarryP;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 81px;
color: #D3BA32;
}
.discover{
width: 130px;
height: 40px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background:#D3BA32;
border-radius: 10px;
font-family: Wizarding;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
align-items: center;
text-align: center;
color: #0C1631;
}

.color
{
    color: #0C1631;
    /* color:#D3BA32; */

}

.color2
{
  color:#D3BA32;
}

.align{
display: flex;
flex-direction: column;
place-items: center start;

}

