.verticalline{
border: 1px solid #D3BA32;
color: #D3BA32;
height: 100%;
position: absolute;
left: 50%;
margin-left: 0.25rem;
top: 0;
}

.gimg{
     margin-left: 1.25rem;
     border-radius: 10px;
     width: 80%;
}
