@font-face {
font-family: "Wizarding";
src:url("../fonts/WizardWorldSimplified-Kxr7.ttf") format("truetype");
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
}

.box{
    height:50px;
}
.picture{
    width:303px;
    height:319px;
}
.producttext{
font-family: Wizarding;
color: #D3BA32;
}

@media (max-width:420px)
{

    .picture{
        width:179px;
        height:194px;
    }

    .producttext{
        font-size: 20px !important ;
    }
    .box{
        height:30px;
    }
}